  .center-jumbotron{
            display: flex;
      justify-content: center;
      align-items: center;
      height: ;
        };
        
 .navbar.fixed-bottom {
    height: 40px; /* Ubah tinggi sesuai keinginan Anda */
    padding: 5px; /* Ubah padding sesuai keinginan Anda */
    background-color: #333; /* Ubah warna latar belakang sesuai keinginan Anda */
    /* tambahkan properti CSS lainnya sesuai kebutuhan Anda */
}

.navbar-brand.text-white {
    font-size: 16px; /* Ubah ukuran font sesuai keinginan Anda */
}
