:root {
  --shadow-card: rgb(37, 89, 107);
}

html {
  background-color: aliceblue;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: poppins;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  color: antiquewhite;
  background-color: rgb(70, 115, 199);
  padding: 14px 20px;
  top: 0;
  right: 0;
  left: 0;
  height: 16px;
  text-wrap: nowrap;
  border-bottom: 5px solid;
  border-color: rgb(172, 172, 228);
  transition: all 2s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

b {
  font-weight: bold;
}

hr {
  width: 100%;
  height: 2px;
  background: #0c070786;
}

.logo {
  margin-right: auto;
  justify-content: flex-start;
  flex: 100%;
}

.last {
  align-items: flex-end;
}

nav ul .logo:hover {
  color: white;
}

nav ul li a:hover {
  color: rgb(126, 250, 147);
  transition: all 0.5s ease;
}

.flex-grow {
  flex-grow: 1;
}

.tampilan {
  display: flex;
  flex-direction: row;
  margin: 3px;
  column-gap: 34px;
}

.kartu {
  border-style: outset;
  border-color: rgb(0, 0, 0);
  box-shadow: 20px 20px var(--shadow-card);
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: all 0.9s ease;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-idth: none; /* Firefox */
}

.kartu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.kartu:hover {
  box-shadow: none;
  border-color: var(--shadow-card);
  scrollbar-width: none;
  overflow-y: auto;
}

header:hover {
  border: none;
}

footer {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  padding: auto;
  justify-content: end;
}

footer ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  header {
    height: 40px;
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: row;
    flex-flow: row wrap;
  }

  .tampilan {
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
  }
}
