:root {
  --shadow-card: rgb(37, 89, 107);
  --nav-color: rgb(70, 115, 199);
  --universal-color: antiquewhite;
}

html {
  background-color: aliceblue;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: poppins;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 0px;
}

header {
  position: fixed;
  background-color: white;
  padding: 14px 20px;
  top: 0;
  right: 0;
  left: 0;
  margin-top: auto;
  height: 16px;
  text-wrap: wrap;
  border-bottom: 5px solid;
  border-color: rgb(59, 59, 83);
  transition: all 5s linear;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(37, 32, 83);
}

b {
  font-weight: bold;
}

hr {
  width: 100%;
  height: 2px;
  background: #0c070786;
}

.logo {
  top: 0px;
  left: 50px;
  bottom: 0px;
  text-align: center;
  display: flex;
  line-height: 3;
  height: auto;
  width: auto;
  position: absolute;
  opacity: 90%;
}

.logotext {
  color: rgb(0, 0, 0);
}

.last {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

nav ul li a:hover {
  text-shadow: 4px solid blue;
  transition: all 0.5s ease;
}

.flex-grow {
  flex-grow: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  margin-left: auto;
  cursor: pointer;
}

.hamburger span {
  background-color: black;
  border-radius: 2px;
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px;
}

.tampilan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  row-gap: 20px;
}

.kartu {
  border-style: outset;
  border-color: rgb(0, 0, 0);
  box-shadow: 20px 20px var(--shadow-card);
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: all 0.9s ease;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.kartu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.kartu:hover {
  box-shadow: none;
  border-color: var(--shadow-card);
  scrollbar-width: none;
  overflow-y: auto;
}

header:hover {
  border: none;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: rgb(0, 0, 0);
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.kartu-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.kartu-grub {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.info h1 {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  flex: 1;
  animation: typing 3.5s steps(40, end), blink-caret 7.5s step-end infinite;
  white-space: nowrap;
  font-size: 16px;
  border-right: 0.15em solid black;
}

.info p {
  margin: 0;
}
.gambar {
  margin-top: 10px;
}

.gambar img {
  object-fit: cover;
  display: block;
  width: 315px;
  height: auto;
  margin-top: 20px;
  margin: 20px;
  transition: all 0.5s ease-out;
}

.gambar img:hover {
  box-shadow: 10px 10px var(--shadow-card);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  0% {
    border-color: orange;
  }
}

@media (max-width: 700px) {
  body {
    padding-top: 7S0px;
  }

  header {
    height: 25px;
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
    flex-flow: row wrap;
    display: none;
  }

  nav ul .active {
    display: flex;
  }

  nav ul .last {
    margin: 0 20px;
  }

  .gambar img {
    display: none;
    width: 0;
  }

  .logo {
    position: static;
  }

  .info h1 {
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 2px;
    flex: 1;
    white-space: nowrap;
    font-size: 16px;
    border-right: 0.15em solid black;
    margin-right: 0px;
  }

  /*
  #cursor {
    display: inline;
    transition: opacity 0.5 ease-out infinity;
    background-color: black;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  */

  .kartu-grub {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    display: flex;
  }
  .tampilan {
    margin-top: 70px;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 70px;
  }

  .kartu-grub {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  footer {
    height: 40px;
  }
}
